/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentChild {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* RESPONSIVE BACKGROUND IMAGE */
.bgimage {
	z-index: -100;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    opacity: .5;
}

#headerlogo {
	width: 100px;
	height: auto;
}

#landingPageHeader {
	color: #3E3F47;
	font-size: 80px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

.fa-user {
	padding-left: 10px;
}

#loginButtons {
	text-align: center;
	margin-top: 30px;
}

button.login:last-child {
    margin-left: 15%;
}

/* NAVBAR STYLING */
.fixed-nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
 	height: 65px;
 	line-height: 65px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
	background: rgba(169,169,169, .3);
	color: #E3E1DC;
}

.fixed-nav-bar a {
	margin-left: 7%;
	color: #3E3F47;
	/*color: #eb9316;*/
}

.fixed-nav-bar a:hover {
	color: #eb9316;
	text-decoration: none;
}

#navbarlogo {
	width: 35px;
	height: auto;
}

/*TABLE STYLING*/
#table-container {
	padding-top: 90px;
	padding-bottom: 50px;
}

#inventory {
	border: 5px #8E8671 solid;
}
#inventory thead, tfoot {
	background-color: #D4D4D4; 	
}
/*center icons in table*/
.center-td {
	margin-left: 25%;
	margin-right: 35%;
	width: 40%;
}

/* ADD ITEM PAGE STYLING */
#addHeader {
	text-align: center;
}

#newItemForm {
	/* Fallback for web browsers that do not support RGBa */
    background: rgb(207, 200, 200);
	/* center the form on the page */
	width: 60%;
	/* RGBa with 0.6 opacity */
	/* this will change opacity of the background and not the content */
	background: rgba(207, 200, 200, .6);
}

.addWrapper {
	padding-top: 90px;
	padding-bottom: 50px;
	background: url("../images/grey.jpg") no-repeat center center fixed; 	
	opacity: .8;
}

.modal-backdrop.in {
	opacity: .3;
}

#signinModal, #signupModal {
	margin-top: 100px;
}

.modal-title {
	font-size: 30px;
	float: left;
}

.modal-header {
	font-family: 'Fjalla One', sans-serif;
}

#showUsername {
	color: orange;
	text-align: left;
	padding: 0;
	margin: 0;
	position: relative;
	left: 20px;
	top: 15px;
}

footer {
	background: rgba(207, 200, 200, .6) url("../images/grey.jpg") no-repeat center center fixed;
	color: #696969;
	font-size: 12px;
	line-height: 2;
	border-top: solid 15px rgba(169,169,169, .3);
	border-bottom: solid 60px rgba(169,169,169, .3);
	text-align: center;
}

footer a {
	color: rgb(169,169,169);
	font-size: 24px;
}

footer a:hover {
	color: #696969;
}

.alertUser {
	text-align: right;
	color: #FF5719;
	font-size: 12px;
}

/* RESPONSIVE BACKGROUND IMAGE */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

td.details-control {
    background: url('../images/images.png') no-repeat center center;
	background-size: 110%;
}
tr.shown td.details-control {
    background: url('../images/gobackarrow.png') no-repeat center center;
	background-size: 110%;
}