/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentChild {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* RESPONSIVE BACKGROUND IMAGE */
.bgimage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  opacity: .5;
}

#headerlogo {
	width: 100px;
	height: auto;
}

#landingPageHeader {
	color: #3E3F47;
	font-size: 80px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

.fa-lock {
	color: #f09614;
}

.fa-user {
	padding-left: 10px;
}

#loginButtons {
	text-align: center;
	margin-top: 80px;
	font-family: 'Fjalla One', sans-serif;
}

button.login:last-child {
    margin-left: 40px;
}

/* NAVBAR STYLING */
.navbar {
	margin-bottom: 0;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
}

.dropdown {
	margin-top: 10px;
}

#navbarlogo {
	width: 40px;
	height: auto;
}

/*TABLE STYLING*/
#inventory {
	border: 5px #8E8671 solid;
}
#inventory thead, tfoot {
	background-color: #BDBDC0; 	
}
/*center icons in table*/
.center-td {
margin-left: 25%;
margin-right: 35%;
width: 40%;


}
/* ADD ITEM PAGE STYLING */
#addHeader {
	text-align: center;
}

#newItemForm {
	/* Fallback for web browsers that do not support RGBa */
    background: rgb(207, 200, 200);
	/* center the form on the page */
	width: 60%;
	/* RGBa with 0.6 opacity */
	/* this will change opacity of the background and not the content */
	background: rgba(207, 200, 200, .6);
}

.addWrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("../images/grey.jpg") no-repeat center center fixed;
	opacity: .8;
}

.modal-backdrop.in {
	opacity: .3;
}

#signinModal, #signupModal {
	margin-top: 100px;
}

.modal-title {
	font-size: 30px;
	float: left;
}

.modal-content {
	font-family: 'Fjalla One', sans-serif;
}

#showUsername {
	color: orange;
	text-align: left;
	padding: 0;
	margin: 0;
	position: relative;
	left: 20px;
	top: 15px;
}

/* RESPONSIVE BACKGROUND IMAGE */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}