/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentChild {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* RESPONSIVE BACKGROUND IMAGE */
.bgimage {
	z-index: -100;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    opacity: .5;
}

#headerlogo {
	width: 100px;
	height: auto;
	margin-top: -35px;
}

#landingPageHeader {
	color: #3E3F47;
	font-size: 80px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	line-height: 100px;
}

#menuPagelogo {
	width: 100px;
	height: auto;
}

.fa-user {
	padding-left: 10px;
}

#loginButtons {
	text-align: center;
	margin-top: 30px;
}

button.login:last-child {
    margin-left: 15%;
}

.modal-backdrop.in {
	opacity: .3;
}

#signinModal, #signupModal {
	margin-top: 100px;
}

.modal-title {
	font-size: 30px;
	float: left;
}

.modal-header {
	font-family: 'Fjalla One', sans-serif;
}

.showName {
	color: #eb9316;
	text-align: left;
	padding: 0;
	margin: 0;
	position: relative;
	left: 20px;
	top: 15px;
}

.alertUser {
	text-align: right;
	color: #eb9316;
	font-size: 12px;
}

/* RESPONSIVE BACKGROUND IMAGE */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}